# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Logs & temp files
# =========================
*.log
*.tmp

# =========================
# Big Data / Spark / HDFS outputs
# =========================
*.parquet
*.crc
*.avro

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Sensitive info
# =========================
*.env
.env.*
